# Data models and validation
pydantic~=2.4.2
pydantic-settings==2.0.3

# API layer
fastapi~=0.103.2
uvicorn[standard]~=0.23.2

# Sending requests
requests~=2.31.0

# Web scraping
beautifulsoup4~=4.12.2

# PDF parsing
pdfminer.six
keybert

# Uploading files
python-multipart~=0.0.6

# Database
sqlalchemy~=2.0.21
psycopg2~=2.9.9
bcrypt~=4.0.1
alembic~=1.12.1